$white: #fff;
$secondary: #ffc400;
$primary: #8bc34a;
$greyTrans: rgba(0, 0, 0, 0.707);
$grey: #272727;
$greyLight: #5c5c5c;
$greyLight2: rgb(205, 202, 202);
$black: #000;
$font1: "Space Mono", monospace;
$font2: "Rock Salt", "cursive";
