@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "./variables/_variables.scss";
.app {
  padding: 15px;
  margin-right: 15px;
  background-color: $grey;

  font-family: "Space Mono", "monospace";
}
